<!--templates/home.html-->
{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
  
{% block content %}
{% if user.is_authenticated %}
<br />
<div class="jumbotron">
  <h1 class="display-4">Newspaper app</h1>
  <p class="lead">A Newspaper website built with Django </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">
    View All Articles</a>
  </p>

</div>

 <!-- Hi {{ user.username }}! You are {{ user.age }} years old.
 <P><a href="{% url 'logout' %} ">Log out</a></P>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log in</a> |
  <a href="{% url 'signup' %}">Sign up</a>
{% endif %} -->
{% endblock content %}
